@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
}

header > nav {
    margin: auto;
    padding: 40px;
    width: 70vw;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}


header > nav > ul > li > a {
    font-size: 24px;
    color: #22D4FD;
    text-decoration: none;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
}

.apresentacao__conteudo > h1 {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo > h1 > .titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo > p {
    padding-top: 20px;
    font-size: 24px;
    text-align: justify;
}

.apresentacao__links > h2 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    text-align: center;
}

.apresentacao__links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo > div > .apresentacao__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6F6;
    font-weight: 600;
    border: 2px solid #22D4FD;
    width: 378px;
    gap: 16px;
    padding: 21.5px 0;
    border-radius: 16px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.apresentacao__conteudo > div > .apresentacao__links__link:hover {
    background-color: #272727;
    color: #22D4FD;
}

.perfil {
    align-self: center;
    width: 488px;
    border-radius: 16px;
    box-shadow: 3px 3px 5px #22d5fdcb;
}

footer {
    padding: 30px;
    text-align: center;
    color: black;
    background-color: #22D4FD;
}