@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 10px;
    align-self: center;
    width: 500px;
}

section > h1 {
    font-size: 36px;
    line-height: 56px;
    color: #F6F6F6;
    font-family: "Krona One", sans-serif;
}

section > h1 > strong {
    color: #22D4FD;
}

section > p {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 100;
    text-align: justify;
    color: #F6F6F6;
}

section > a {
    color: black;
    font-weight: 600;
    background-color: #22D4FD;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}

img {
    align-self: center;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #22d5fdcb;
}